body {
    background-color: transparent;
    text-align: center;
}

html { 
    text-align: center;
    background: url(bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#gameContainer {
    width: 40vw;
    height: 40vh;
    margin: 10% auto 2% auto; 
    background-color: black;
    border: solid 10px #7FCBFA;
    border-radius: 10px;
    box-shadow: 0 0 10px lightblue;
}

.gameBoardPixel {
    width: 1vw;
    height: 1vh;
    border-radius: 10px;
    float: left;
}

.food {
    background-color: red;
    box-shadow: 0 0 10px orangered;
}

.snakeBodyPixel {
    background-color: green;
    box-shadow: 0 0 5px greenyellow;
}

#scoreContainer {
    width: 40vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.scoreBoard {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 10px;
    border: solid 5px #7FCBFA;
    color: white;
    background-color: black;
    padding: 5px; 
    width: 40%;
    box-shadow: 0 0 10px lightblue;
}

#onScreenControllers {
    display: none;
}

